[Unit]
Description=Flarum scheduler
After=mariadb.service valkey.service

[Service]
CapabilityBoundingSet=
CPUSchedulingPolicy=batch
ExecStart=/usr/bin/php flarum schedule:run
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateTmp=yes
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/opt/flarum
RemoveIPC=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@obsolete @privileged
Type=oneshot
User=flarum
WorkingDirectory=/opt/flarum
